@model GolfCentraAdmin.ViewModel.PermissionMainViewModel
@{ var employeeList = (TempData["EmployeeList"] as List<@GolfCentraAdmin.ViewModel.EmployeeViewModel>);}
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Role Management</h3>

    </div>


</div>

<!-- ============================================================== -->
<!-- Projects of the Month -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-12">
        <div class="card">
            @using (Ajax.BeginForm(new AjaxOptions { OnBegin = "OnEmployeeManagementSaveBegin", OnSuccess = "OnEmployeeManagementSaveSuccess", Url = @GolfCentraAdmin.UI.Common.Constants.Url.WebSiteUrl + "RoleManagement/SaveRoleManagement" }))
            {
                <div class="card-body">
                    <form>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="element1">Employee</label>
                            @Html.DropDownList("EmployeeId", new SelectList(employeeList, "EmployeeId", "Name"), "Please Select A Employee", new { @class = "custom-select", @id = "ddlEmployee", @autocomplete = "off" })
                        </div>
                        <span id="divEmployeeInformation"></span>
                    </form>
                </div>
            }
            </div>
    </div>
    <!-- Column -->

</div>
<!-- ============================================================== -->
<!-- End Projects of the Month -->

@section scripts{
    <script src="~/Scripts/Custom/RoleManagementController.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            OnRoleManagementReady();
        });
    </script>
}
